
body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.product-card img {
    height: 180px;
    object-fit: cover;
}

#cart-items .cart-item+.cart-item {
    border-top: 1px solid #e9ecef;
    padding-top: .75rem;
    margin-top: .75rem;
}
.footer-icon{
    font-size: 24px;
    color: black ;
    justify-content: center;
    text-decoration: none;
}
.nav-item:hover{
    background-color: rgb(236, 23, 23);
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .product-card img {
        height: 200px;
    }
}